# Build output
bin/
obj/

Scripts\Template.docx
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Python cache (if you'll call Python later)
__pycache__/
*.pyc
